:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  

  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */


}

*{
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.nav {
  background-color: rgb(30, 50, 71);
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 20;
}

.container h1{
  margin-top: 25px;
  cursor: pointer;
  color: #fff;
}
.container {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
 
  
}

.container-a{
  display: flex;
margin-top: 25px;
  
}
.container a  {
text-decoration: none;
color:white ;
margin-left:  20px;
font-size: 24px;
transition: .3s;



}


a:hover{
  color: #1ABC9C;
}

.big-photo {
  width: 200px;
  height: 200px;
}
.home{
height: 100vh;
background-color:#1ABC9C ;
  

}


.star-text{
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

.line {
display: flex;

}

hr{
  width: 100px;
  height: 2px;
  background-color: white;
  margin-top: 50px;
  margin-left:5px ;
  margin-right:5px ;

}

.para {
  font-size: 2rem; /* Example font size */
  color: #fff; /* Example text color */
}
/* .column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Example: Full viewport height */
  padding: 20px; /* Example padding */
  box-sizing: border-box; /* Include padding in height */
}

.h-text {
  font-size: 4rem;
  color: #fff;
}

.big-photo{
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.portfolio{
  background-color: #1ABC9C;
  padding: 10px;
  border-radius: 5px;
}

a {
  padding: 10px;
}

#port-h1{

}

.port-img{
  border-radius: 5px;
}
/* .port-img::after{
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1ABC9C;
  
} */

.img-container {
  position: relative;
}
.img-container img {
border-radius: 5px;

}

.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1ABC9C;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img-container:hover::after {
  opacity: .9; /* Example: Hide on hover */
}

.move {
  top: 35%;
  left: 45%;
color: #fff;
  font-size: 3rem;
  z-index: 657;
  opacity: 0;
  transition: .3s;
}
.img-container:hover .move {
 
  opacity: 1;

}

.about {
  background-color: #1ABC9C;
}
.about p,h1 {
  font-size: 1.1rem;
  color: white;
  margin-top: 20px;
}

.contact{
  border: none;
  outline: none;
  padding: 10px;
  width: 30%;
  margin-top: 20px;
}

.contact-h1{
  color:  #2C3E50 ;
  font-size: 3rem;
  font-weight: 800;
}

.info {
  background-color: #2C3E50;
  color: #fff;
  padding: 40px;
}

.rounded-circle{
  border: 1px solid white;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: center;
}
.rounded-circle:hover{
background-color: #fff;
}
.rounded-circle:hover .i{
color: black;}
.i {
  transition: .3s;
}

.copyRight{
  background-color: #000;
  display: flex;
  justify-content: center;
  color: white;
  padding: 30px;
  align-items: center;
}




@media (min-width: 500px) { 

.container-a{
  display: none;
}
.media-nav{
  text-align: center;
}

.about-media{
  flex-wrap: wrap;
}
.call-media{
  flex-direction: column;
}
.m-media{
  margin-top: 20px;
}

.aroumd{
  text-align: center;
}

 }

  @media (min-width: 768px) {
    .container-a{
      display: none;
    }
    .about-media{
      flex-wrap: wrap;
    }
    .call-media{
      flex-direction: column;
    }
    .m-media{
      margin-top: 20px;
    }
    .aroumd{
      text-align: center;
    }
  }

@media (min-width: 992px) {
  .container-a{
    display: flex;
  }
  .about-media{
    flex-wrap: wrap;
  }
  .call-media{
    flex-direction: column;
  }
  .m-media{
    margin-top: 20px;
  }
  .aroumd{
    text-align: center;
  }
  }

@media (min-width: 1200px) {
  .container-a{
    display: flex;
  }
  .about-media{
    flex-wrap: nowrap;
  }
  .call-media{
    flex-direction: column;
  }
  .m-media{
    margin-top: 20px;
  }
  .aroumd{
    text-align: center;
  }
  
  }


@media (min-width: 1400px) { 
  .container-a{
    display: flex;
  }
  .about-media{
    flex-wrap: nowrap;
  }

  .call-media{
    flex-direction: row;
  }
 }


